@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2>@Model.Name</h2>

<ul>

    <li>Release Date:       @Model.ReleaseDate.ToLongDateString()</li>

    <li>Date Added:         @Model.DateAdded.ToLongDateString()</li>

    <li>Nunber in Stock:    @Model.NumberInStock</li>

    <li>Genre:              @Model.Genre</li>

</ul>